<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Football Scout</title>
    <!-- MaterializeCSS used for project https://materializecss.com/about.html -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <div class="container">

                <a href="/"><img class="circle responsive-img" src="/images/project logo.jpg"
                        alt="" width="55" height="55"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/dashboardinput">Make AI Request</a></li>
                    <li><a href="/requestshistory">Requests History</a></li>
                    <li><a href="/userprofile">User Profile</a></li>
                    <li><a href="/signout">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <!--- ADD yours content here-->
            <h1>Shortlist</h1>
            <table class="striped responsive-table" id="shortlistTable">
                <thead>
                <tr>
                    <th>Ranking</th>
                    <th>Player</th>
                    <th>Club</th>
                    <th>Season</th>
                    <th>Position</th>
                    <th>Age</th>
                    <th>Nationality</th>
                </tr>
                </thead>

                <tbody>
                <% for(let i=0; i< shortlistArr.length; i++) { %>
                <tr>
                    <td><%= i+1 %> </td>
                    <td><a href="/playerStats?playerId=<%= shortlistArr[i]._id %>"><%= shortlistArr[i].name %></a></td>
                    <td><%= shortlistArr[i].team_name %></td>
                    <td><%= shortlistArr[i].league_season %></td>
                    <td><%= shortlistArr[i].position %></td>
                    <td><%= shortlistArr[i].age %></td>
                    <td><%= shortlistArr[i].player_nationality %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
            

        </div>

    </main>

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2024 Deakin University
                <a class="grey-text text-lighten-4 right" href="https://www.deakin.edu.au/">deakin.edu.au</a>
            </div>
        </div>
    </footer>
</body>

</html>